#root {
  max-width: 1280px;
  height: 100%;
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn {
  background-color: transparent;
  border: none;
}

.btn--primary {
  border-radius: 8px;
  background: var(--Blue-1, #2F80ED);
  color: #fff;

  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.42px;
}

